<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            .button {
                background-color: #007bff;
                color: #ffffff !important;
                padding: 10px 20px;
                text-decoration: none;
                border-radius: 5px;
                display: inline-block;
            }
        </style>
    </head>
    <body>
        <div style="font-family: Arial, sans-serif; padding: 20px">
            <h1>Hola {{.Name}},</h1>
            <p>Recibimos una solicitud para restablecer tu contraseña.</p>
            <a href="{{.ResetLink}}" class="button">Restablecer Contraseña</a>
            <p>Si no lo solicitaste, ignora este correo.</p>
        </div>
    </body>
</html>
